extends ../main
//-———————————————————————————————————*\
    $ VARIABLES
//-———————————————————————————————————*\
block vars
  - var documentTitle = 'Atecna'
  - var documentDesc  = 'Description de Atecna'
  - var bodyClass     = "home"
//-———————————————————————————————————*\
    $ Page: home.html
//-———————————————————————————————————*\
block main
  section
    .content