extends ../main
//-———————————————————————————————————*\
    $ VARIABLES
//-———————————————————————————————————*\
block vars
  - var documentTitle = 'Atecna'
  - var documentDesc  = 'Description de Atecna'
  - var bodyClass     = "home"
//-———————————————————————————————————*\
    $ Page: home.html
//-———————————————————————————————————*\
block main
  section
    .content
      h1.h2
        | La vision de l’entreprise pour 2012

      article.article
        .text
          h2.h3
            | Lorem ipsum dolor sit amet
          p Consectetur adipiscing elit. Nullam enim urna, porta sed tempus ac, laoreet ut magna. Donec vitae neque lorem, sit amet viverra nisl. Pellentesque vitae porttitor diam. Pellentesque diam erat, consectetur eget porttitor sed, molestie sit amet massa.
          p Cras sit amet augue vitae nulla vehicula elementum ut id nibh. Praesent sapien enim, bibendum et auctor eu, posuere vel mi. Nunc placerat lacinia diam, vel posuere augue accumsan a. Cras laoreet justo quis diam dapibus faucibus. Donec metus odio, ullamcorper vulputate sollicitudin ac, mattis a nibh. Nulla facilisi.
        .right
          video(controls).video
            source(src="/resources/assets/video.ogv" type="video/ogv")
            | Your browser does not support the video tag.
          span.db.text-center.color-primary Atecna au salon IT de Lille
        

      article.article
        .text
          h2.h3
            | Aenean tincidunt felis sed diam mollis
          p Phasellus scelerisque urna et turpis sollicitudin egestas. Etiam pretium bibendum placerat. Etiam rhoncus diam vitae elit blandit eu dignissim justo bibendum. Cras id elit ante, non rutrum lorem. 
          p Pellentesque orci felis, porta sit amet rhoncus sit amet, consequat vel augue. Donec porta erat vel velit bibendum ut pellentesque lacus aliquet. Quisque non enim sem. Pellentesque et metus sit amet dui sagittis ultricies a at nunc. Nulla fringilla est et est feugiat porttitor. Aliquam dignissim commodo aliquet.vestibulum justo imperdiet eget. Sed varius, lectus non viverra sodales, lorem lectus laoreet neque, in luctus velit magna eget enim. Praesent molestie, sapien vitae tristique pulvinar, mi eros tincidunt massa, ornare fringilla sem ipsum euismod mauris. Nulla bibendum placerat quam sed mollis. Vestibulum facilisis risus quis orci venenatis sollicitudin.
        .right
          .carousel
            ul.carousel__dots
              li.dot
                a(href="#1") 1
              li.dot.active
                a(href="#2") 2
              li.dot
                a(href="#3") 3
              li.dot
                a(href="#4") 4
            .carousel__container
              .carousel__image
                span.carousel__prev
                img(src=pathImg+"homepage/slider-img-1.jpg", alt="première image slider")
                span.carousel__next
              .carousel__text
                span.db.text-center.color-primary Atecna au salon IT de Lille