@charset "UTF-8";
/*———————————————————————————————————*\
    $ VARIABLES & MINXINS
\*———————————————————————————————————*/
/*———————————————————————————————————*\
    $ COLORS
\*———————————————————————————————————*/
/*———————————————————————————————————*\
    $ FONTS
\*———————————————————————————————————*/
/*———————————————————————————————————*\
    $ PATHS
\*———————————————————————————————————*/
/*———————————————————————————————————*\
    $ PADDINGS
\*———————————————————————————————————*/
/*———————————————————————————————————*\
    $ LISTS
\*———————————————————————————————————*/
/*———————————————————————————————————*\
    $ MEDIAS
\*———————————————————————————————————*/
/*———————————————————————————————————*\
    $ desktop
\*———————————————————————————————————/*
  Média pour les écrans d'ordinateurs et -

  @use
    @include desktop() {
       // Code for desktop device
    }

  @result
    @media screen and (min-width: 1200px) {
        // Code for desktop device
    }
*/
/*———————————————————————————————————*\
    $ only-tablet
\*———————————————————————————————————/*
  Média uniquement pour les écrans de tablette

  @use
    @include only-tablet() {
       // Code for only-tablet device
    }

  @result
    @media screen and (min-width: 767px) and (max-width: 1024px) {
        // Code for only-tablet device
    }
*/
/*———————————————————————————————————*\
    $ tablet
\*———————————————————————————————————/*
  Média pour les écrans de tablette et -

  @use
    @include tablet() {
       // Code for tablet device
    }

  @result
    @media screen and (max-width: 1024px) {
        // Code for tablet device
    }
*/
/*———————————————————————————————————*\
    $ mobile
\*———————————————————————————————————/*
  Média uniquement pour les écrans mobile

  @use
    @include mobile() {
       // Code for mobile device
    }

  @result
    @media screen and (max-width: 768px) {
        // Code for mobile device
    }
*/
/*———————————————————————————————————*\
    $ small-mobile
\*———————————————————————————————————/*
  Média uniquement pour les écrans small-mobile

  @use
    @include small-mobile() {
       // Code for small-mobile device
    }

  @result
    @media screen and (max-width: 400px) {
        // Code for small-mobile device
    }
*/
/*———————————————————————————————————*\
    $ landscape
\*———————————————————————————————————/*
  Média uniquement pour les écrans en format paysage

  @use
    @include landscape() {
       // Code for landscape device
    }

  @result
    @media screen and (orientation: landscape) {
        // Code for landscape device
    }
*/
/*———————————————————————————————————*\
    $ print
\*———————————————————————————————————/*
  Média uniquement pour l'impression

  @use
    @include print() {
       // Code for printer
    }

  @result
    @media print {
        // Code for printer
    }
*/
/*———————————————————————————————————*\
    $ TITLE
\*———————————————————————————————————/*
  Raccourcie de media query

  @use
    @include media(max-width:350px) {
       // Code for your media max-width 350px device
    }

  @result
    @media screen and (max-width: 350px) {
       // Code for your media max-width 350px device
    }
*/
/*———————————————————————————————————*\
    $ center-absolute
\*———————————————————————————————————*/
/*———————————————————————————————————*\
    $ center-flex
\*———————————————————————————————————*/
/*———————————————————————————————————*\
    $ center-block
\*———————————————————————————————————*/
/*———————————————————————————————————*\
    $ rem
\*———————————————————————————————————/*
  px to rem

  @use
    padding: rem(16px) rem(32px);

  @result
    padding: 1rem 2rem;
*/
/*———————————————————————————————————*\
    $ font-size
\*———————————————————————————————————/*
  Font-size rem and fallback px

  @use
    @include font-size(16px);

  @result
    font-size: 16px;
    font-size: 1rem;
*/
/*———————————————————————————————————*\
    $ MEDIAS ORDER
\*———————————————————————————————————*/
/*
  C'est pour que webpack compile les médias dans l'ordre ci-dessous
*/

/*———————————————————————————————————*\
    $ LIBS & NODE_MODULES

  @exemple: @import "~bootstrap/dist/css/bootstrap";
  @see:     https://github.com/webpack-contrib/sass-loader#imports
\*———————————————————————————————————*/
/*———————————————————————————————————*\
    $ GOOGLE FONT

  @exemple: @import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto:400,700');
  @see:     https://fonts.google.com/
\*———————————————————————————————————*/
/*———————————————————————————————————*\
    $ COMMON
\*———————————————————————————————————*/
/*———————————————————————————————————*\
    $ GLOBAL
\*———————————————————————————————————*/
* {
  box-sizing: border-box; }

body {
  background-image: url(images/logo.png); }

main {
  padding: 0 60px; }

.container {
  max-width: 800px;
  margin: 0 auto; }

.page-container {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  padding-top: 25px; }

/*———————————————————————————————————*\
    $ media: mobile
\*———————————————————————————————————*/

/*———————————————————————————————————*\
    $ TYPOGRAPHY
\*———————————————————————————————————*/
body {
  font-family: Trebuchet MS, sans-serif;
  font-weight: normal;
  font-size: 12px;
  font-size: 0.75rem; }

a {
  text-decoration: none;
  color: #e53b00; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: Trebuchet MS, sans-serif; }

.h1 {
  font-size: 25px;
  font-size: 1.5625rem; }

.h2 {
  font-size: 18px;
  font-size: 1.125rem;
  padding-left: 3px;
  color: #e53b00;
  border-left: 2px solid #5c5646;
  border-bottom: 2px solid #f9bc24; }

.h3 {
  font-size: 14px;
  font-size: 0.875rem;
  font-family: Georgia, serif; }
  .h3:before {
    content: "\2022";
    margin-right: 5px;
    color: #e53b00; }

.h4 {
  font-size: 12px;
  font-size: 0.75rem; }

.copyright {
  color: #595846; }

.article {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .article .text {
    width: 50%; }

main p {
  text-indent: 20px;
  margin: 0; }

/*———————————————————————————————————*\
    $ media: mobile
\*———————————————————————————————————*/

/*———————————————————————————————————*\
    $ ICONS
\*———————————————————————————————————*/
.icon {
  display: inline-block;
  width: 25px;
  height: 25px; }

/*———————————————————————————————————*\
    $ HELPERS
\*———————————————————————————————————*/
/*———————————————————————————————————*\
    $ UTILS CLASSES
\*———————————————————————————————————*/
.bg-primary {
  background-color: #e53b00; }

.color-primary {
  color: #e53b00; }

.bg-secondary {
  background-color: #f9bc24; }

.color-secondary {
  color: #f9bc24; }

.db {
  display: block; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

/*———————————————————————————————————*\
    $ OVERLAY
\*———————————————————————————————————*/
/*———————————————————————————————————*\
    $ CENTER ABSOLUTE
\*———————————————————————————————————/*
  Centre en position absolute

  @use
    @extend %a_x;
    @extend %a_y;
    @extend %a_xy;

  @result
  // a_x
    position:  absolute;
    left:      50%;
    transform: translate(-50%);
  // a_y
    position:  absolute;
    top:       50%;
    transform: translateY(-50%);
  // a_xy
    position:  absolute;
    top:       50%;
    left:      50%;
    transform: translate(-50%, -50%);
*/
.carousel__prev img, .carousel__next img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

/*———————————————————————————————————*\
    $ CENTER FLEX
\*———————————————————————————————————/*
  Centre en display flex

  @use
    @extend %f_x;
    @extend %f_y;
    @extend %f_xy;

  @result
  // f_x
    display:         flex;
    justify-content: center;
  // f_y
    display:     flex;
    align-items: center;
  // f_xy
    display:         flex;
    align-items:     center;
    justify-content: center;
*/
.header .coordonnees__phone p {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.carousel__dots, .carousel__dots .dot, .main-nav .nav-link {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

/*———————————————————————————————————*\
    $ CENTER BLOCK
\*———————————————————————————————————/*
  Centre en display block

  @use
    @extend %b-x;

  @result
    display:      block;
    margin-left:  auto;
    margin-right: auto;
*/
/*———————————————————————————————————*\
    $ ELEMENTS
\*———————————————————————————————————*/
/*———————————————————————————————————*\
    $ BUTTONS
\*———————————————————————————————————*/
/*———————————————————————————————————*\
    $ MODULES
\*———————————————————————————————————*/
/*———————————————————————————————————*\
    $ CARD
\*———————————————————————————————————*/
/*———————————————————————————————————*\
    $ BREADCRUMB
\*———————————————————————————————————*/
.breadcrumb {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  padding-left: 0; }
  .breadcrumb__item {
    list-style: none; }
    .breadcrumb__item:not(:last-child):after {
      content: '>';
      margin-right: 5px;
      margin-left: 2px;
      color: #e53b00; }
  .breadcrumb__text {
    text-decoration: underline;
    color: black;
    font-size: 10px; }
    .breadcrumb__text.active {
      text-decoration: none; }

/*———————————————————————————————————*\
    $ CAROUSEL
\*———————————————————————————————————*/
.carousel__dots {
  padding-left: 0;
  margin-bottom: 2px; }
  .carousel__dots .dot {
    cursor: pointer;
    list-style: none;
    width: 20px;
    height: 20px;
    text-align: center;
    background-image: linear-gradient(#ff7a4c, #b22e00);
    border-radius: 50%;
    border: 1px solid #b22e00; }
    .carousel__dots .dot:not(:last-child) {
      margin-right: 4px; }
    .carousel__dots .dot a {
      color: white;
      font-size: 10px; }
    .carousel__dots .dot.active, .carousel__dots .dot:hover {
      background-image: linear-gradient(#fff, #c7c7c7); }
      .carousel__dots .dot.active a, .carousel__dots .dot:hover a {
        color: #e53b00; }

.carousel__image {
  position: relative;
  width: 300px; }
  .carousel__image img {
    width: 100%; }

.carousel__prev, .carousel__next {
  cursor: pointer;
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 100%;
  background-color: rgba(229, 59, 0, 0.3);
  top: 0; }
  .carousel__prev img, .carousel__next img {
    width: 15px; }

.carousel__prev {
  left: 0; }

.carousel__next {
  right: 0; }
  .carousel__next img {
    -webkit-transform: rotate(180deg) translate(50%, 50%);
            transform: rotate(180deg) translate(50%, 50%); }

/*———————————————————————————————————*\
    $ LAYOUTS
\*———————————————————————————————————*/
/*———————————————————————————————————*\
    $ HEADER
\*———————————————————————————————————*/
.header {
  padding-left: 60px;
  /*———————————————————————————————————*\
      $ media: mobile
  \*———————————————————————————————————*/ }
  .header .logo img {
    width: 150px; }
  .header .content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header .coordonnees {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 20px;
    background: white; }
    .header .coordonnees__icon {
      margin-right: 10px; }
    .header .coordonnees__name {
      margin-bottom: 10px;
      font-weight: bold;
      text-transform: uppercase; }
    .header .coordonnees__address {
      margin-bottom: 5px;
      font-size: 13px; }
    .header .coordonnees__phone .icon {
      width: 18px;
      height: 18px;
      margin-right: 10px; }
    .header .coordonnees--lille {
      margin-right: 10px;
      padding-right: 10px;
      border-right: 1px solid #f9bc24; }
    .header .coordonnees p {
      margin: 0; }

/*———————————————————————————————————*\
    $ NAV
\*———————————————————————————————————*/
.main-nav {
  /*———————————————————————————————————*\
      $ media: mobile
  \*———————————————————————————————————*/ }
  .main-nav .content {
    background-image: linear-gradient(#ff7a4c, #b22e00); }
  .main-nav .list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .main-nav .item {
    list-style: none; }
    .main-nav .item:not(:last-child) {
      border-right: 1px solid #b22e00; }
  .main-nav .nav-link {
    height: 50px;
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    text-shadow: 0px 1px black; }
    .main-nav .nav-link.active, .main-nav .nav-link:focus, .main-nav .nav-link:hover {
      color: #e53b00;
      background-image: linear-gradient(#fcda87, #e4a406);
      text-shadow: 0px 1px white;
      border-bottom: 1px solid #b22e00; }

/*———————————————————————————————————*\
    $ FOOTER
\*———————————————————————————————————*/
.main-footer {
  padding-bottom: 5px;
  background-image: linear-gradient(#fff, #e5ddd8);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }
  .main-footer p {
    margin: 0;
    color: #e53b00; }
  .main-footer .tel, .main-footer .email {
    color: black; }
  .main-footer .email {
    text-decoration: underline; }

/*———————————————————————————————————*\
    $ FORMS
\*———————————————————————————————————*/
::-webkit-input-placeholder {
  color: #f9bc24; }
:-ms-input-placeholder {
  color: #f9bc24; }
::placeholder {
  color: #f9bc24; }

form .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px; }

.form-group {
  width: 50%; }
  .form-group:first-child {
    margin-right: 80px; }
  .form-group input:not(:last-child) {
    margin-bottom: 10px; }

textarea,
input {
  width: 100%;
  padding: 7px;
  border: 1px solid #b5b5b5;
  border-radius: 5px;
  font-weight: bold;
  color: #f9bc24;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.2); }

textarea {
  height: 110px; }

input[type=submit] {
  width: auto;
  display: inline-block;
  padding: 7px 20px;
  border: 1px solid #b22e00;
  border-radius: 10px;
  font-size: 16px;
  font-weight: normal;
  color: white;
  background-image: linear-gradient(#ff7a4c, #b22e00);
  cursor: pointer; }

/*———————————————————————————————————*\
        $ media: mobile
\*———————————————————————————————————*/

/*———————————————————————————————————*\
    $ PAGES
\*———————————————————————————————————*/
.homepage {
  /*———————————————————————————————————*\
    $ HOME
\*———————————————————————————————————*/ }
@media screen and (min-width: 800px) {
  .mqpacker {
    width: initial; } }
@media screen and (max-width: 768px) {
  .mqpacker {
    width: initial; }
  .mqpacker {
    width: initial; }
  .container {
    max-width: none; }
  main {
    padding: 0 20px; }
  .article {
    display: block;
    margin-bottom: 20px; }
    .article .text {
      width: 100%;
      margin-bottom: 10px; }
    .header {
      padding-left: 0; }
      .header .content {
        display: block; }
      .header .logo {
        text-align: center; }
      .header .coordonnees {
        padding: 10px; }
        .header .coordonnees--lille {
          padding-right: 5px; }
    .main-nav .list {
      display: none; }
    .main-nav .content {
      padding: 20px; }
    .main-nav .menu-burger {
      width: 20px;
      height: 2px;
      display: inline-block;
      background: white;
      float: right; }
      .main-nav .menu-burger:after, .main-nav .menu-burger:before {
        content: '';
        width: 100%;
        height: 2px;
        display: inline-block;
        position: relative;
        background: white; }
      .main-nav .menu-burger:after {
        top: 3px; }
      .main-nav .menu-burger:before {
        bottom: 5px; }
  form .container {
    display: block; }
  .form-group {
    width: 100%; }
    .form-group :first-child {
      margin-right: 0; }
  textarea {
    margin-top: 10px;
    margin-bottom: 10px; }
  input[type=submit] {
    width: 100%; } }
@media screen and (min-width: 768px) and (max-width: 768px) {
  .mqpacker {
    width: initial; } }
@media screen and (max-width: 400px) {
  .mqpacker {
    width: initial; } }
@media screen and (orientation: landscape) {
  .mqpacker {
    width: initial; } }
@media print {
  .mqpacker {
    width: initial; } }

/*# sourceMappingURL=app.css.map*/