/*———————————————————————————————————*\
    $ UTILS CLASSES
\*———————————————————————————————————*/
@each $name, $color in $list-color {
  .bg-#{$name} {
    background-color: $color;
  }
  
  .color-#{$name} {
      color: $color;
  }
}

.db {
  display: block;
}

.text-center { text-align: center; }
.text-right  { text-align: right; }