/*———————————————————————————————————*\
    $ COLORS
\*———————————————————————————————————*/
  $primary:     #e53b00 !default;
    $primary--d1: darken($primary, 10);
    
  $secondary:     #f9bc24 !default;
    $secondary--d1: darken($secondary, 10);

  $gradiant-primary:   linear-gradient(lighten($primary, 20), $primary--d1) !default;
  $gradiant-secondary: linear-gradient(lighten($secondary, 20), $secondary--d1) !default;

/*———————————————————————————————————*\
    $ FONTS
\*———————————————————————————————————*/
  $ff-body:     Trebuchet MS, sans-serif; 
    $fz-body:   12px; 
  $ff-title:    Georgia, serif;
    $fz-h1:     25px;
    $fz-h2:     18px;
    $fz-h3:     14px;
    $fz-h4:     12px;
    
    $fz-h1-m:   25px; 
    $fz-h2-m:   18px;
    $fz-h3-m:   16px;
    $fz-h4-m:   14px;
    
/*———————————————————————————————————*\
    $ PATHS
\*———————————————————————————————————*/
  $pathIMG : "../images/";
    
/*———————————————————————————————————*\
    $ PADDINGS
\*———————————————————————————————————*/
  $p-main: 60px;

/*———————————————————————————————————*\
    $ LISTS
\*———————————————————————————————————*/
  $list-medias: desktop tablet only-tablet mobile landscape print;
  $list-color: ('primary', $primary), ('secondary', $secondary);
  
/*———————————————————————————————————*\
    $ MEDIAS
\*———————————————————————————————————*/
  $mobile        : 400px; 
  $tablet        : 768px; 
  $desktop       : 768px; 
  $large-desktop : 800px;