/*———————————————————————————————————*\
    $ TYPOGRAPHY
\*———————————————————————————————————*/
body {
  font-family : $ff-body;
  font-weight : normal;
  @include      font-size($fz-body);
}

a {
  text-decoration : none;
  color           : $primary;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family : $ff-body;
}

.h1{
  @include font-size($fz-h1);
}

.h2{
  @include font-size($fz-h2);
  padding-left:  3px;
  color:         $primary;
  border-left:   2px solid #5c5646;
  border-bottom: 2px solid $secondary;
}

.h3{
  @include font-size($fz-h3);
  font-family: $ff-title;

  &:before {
    content:      "•";
    margin-right: 5px;
    color:        $primary;
  }
}

.h4{
  @include font-size($fz-h4);
}

.article {
  display: flex;
  justify-content: space-between;

  .text{
    width: 50%;
  }
}


main {
  p {
    text-indent: 20px;
    margin: 0;
  }
}
