/*———————————————————————————————————*\
    $ CAROUSEL
\*———————————————————————————————————*/
.carousel {
  
  &__dots {
    @extend %f-xy;
    padding-left: 0;
    margin-bottom: 2px;

    .dot {
      cursor: pointer;
      @extend %f-xy;
      list-style: none;
      width: 20px;
      height: 20px;
      text-align: center;
      background-image: $gradiant-primary;
      border-radius: 50%;
      border: 1px solid $primary--d1;
      
      &:not(:last-child){
        margin-right: 4px;
      }

      a {
        color: white;
        font-size: 10px;
      }

      &.active, &:hover {
        background-image: linear-gradient(#fff, #c7c7c7);
        a {color: $primary;}
      }
    }
  }

  &__container {

  }

  &__image {
    position: relative;
    width: 300px;

    img {
      width: 100%;
    }
  }

  &__prev,
  &__next {
    cursor: pointer;
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 100%;
    background-color: rgba($primary, .3);
    top: 0;

    img {
      width: 15px;
      @extend %a-xy;
    }
  }

  &__prev {
    left: 0;
  }

  &__next {
    right: 0;

    img {
      transform: rotate(180deg) translate(50%, 50%);
    }
  }
}