//-———————————————————————————————————*\
    $ Layout : footer
//-———————————————————————————————————*\
block footer
  footer.main-footer(role="contentinfo")
    .content.text-center
      p Atecna Conseil & Ingénierie E-business, 71 avenue Guynemer 59700 Marcq en Baroeul.
      p
        | Tel. : 
        a(href="tel:0320898450").tel 03 20 89 84 50 
        | - Email. : 
        a(href="mailto:contact@atecna.fr").email contact@atecna.fr
      
      