//-———————————————————————————————————*\
    $ Layout : menu
//-———————————————————————————————————*\
-
  data_mainNav = [
    {
      name: "Qui sommes-nous ?",
      url: "#",
      navActive: "home" // doit match avec bodyClass dans les pages
    },
    {
      name: "Nos prestations",
      url: "#",
      navActive: "prestations" // doit match avec bodyClass dans les pages
    },
    {
      name: "Nos réalisations",
      url: "#",
      navActive: "realisations" // doit match avec bodyClass dans les pages
    },
    {
      name: "Recrutement",
      url: "#",
      navActive: "recrutement" // doit match avec bodyClass dans les pages
    },
    {
      name: "Contact",
      url: "#",
      navActive: "contact" // doit match avec bodyClass dans les pages
    },
  ];

block main-nav
nav.main-nav(role="navigation")
  div.content
    ul.list
      li.item(role="menuitem")
        a(class='nav-link' href='#')
          +icon("home", "Retour à la pas d'accueil")
      each link in data_mainNav
        if link.navActive == bodyClass 
          - active = ' active'
        else
          - active = ''
        li.item(role="menuitem")
          a(class='nav-link' + active, href=link.url) #{link.name}