include config
block vars
include mixins

-
  data_breadcrumb = [
    {
      name: "Accueil",
      url: "#",
      active: "false"
    },
    {
      name: "Qui-sommes-nous ?",
      url: "#",
      active: "false"
    },
    {
      name: "Présentation",
      active: "true"
    },
  ];

html(lang='fr')
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name='description', content=documentDesc)
    title #{documentTitle}

    block CSS

  body(class=bodyClass)
    .container.page-container
      include layouts/_header
      include layouts/_navbars


      //-———————————————————————————————————*\
          $ PAGES
      //-———————————————————————————————————*\
      main(role="main")
        +breadcrumb(data_breadcrumb)
        block main


      include layouts/_footer   
      //-———————————————————————————————————*\
          $ SCRIPTS
      //-———————————————————————————————————*\
      script(src='../node_modules/jquery/dist/jquery.min.js')
      block JS
